html {
    font-family: 'Montserrat', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: $color-text;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-size: 16px;
}

main {
    width: 100%;
    padding: 24px 24px 24px 224px;
}
